<link rel="stylesheet" href="css/product-page.css" type="text/css">
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>


<%- include('../../views/partials/user/header') %>
<!-- Header Section End -->


<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__text">
          <h4>Checkout</h4>
          <div class="breadcrumb__links">
            <a href="/">Home</a>
            <a href="/shop">Shop</a>
            <a href="/cart">Cart</a>
            <span>Checkout</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
  <div class="container">
    <div class="checkout__form">
      <!-- <form action="#"> -->
      <div class="row">
        <div class="col-lg-8 col-md-6">
          <% if (couponName && couponName !== 'NA') { %>
          <div class="alert special-notes-green d-flex justify-content-between align-items-center">
            <span>You've applied <strong><%= couponName %></strong> coupon</span>
          </div>
          <% } else {%>
          <h6 class="coupon__code"><span class="icon_tag_alt"></span> Have a coupon? <a href="/cart">Click
              here</a> to enter your code</h6>
          <% } %>
          <h4>Saved Address</h4>
          <div class="address-section border p-3  mb-3 adr-out">

            <div class="list-group mt-4 ">
              <div class="d-flex justify-content-between m-2">
                <h5>My Addresses</h5>
                <button id="add-address-btn" class="btn btn-secondary"> Add New Address <i class='bx bxs-plus-square'></i></button>
              </div>

              <form id="orderForm">
                <% if (addressData && addressData.address && addressData.address.length > 0) { %>
                <% addressData.address.forEach((adrs, index) => { %>
                <div class="card mb-3">
                  <div class="card-body adr-body">
                    <div class="d-flex justify-content-between align-items-center">
                      <span class="card-title text-muted">Address <%= index + 1 %></span>
                      <!-- Select Address -->
                      <input type="radio" name="selectedAddress" value="<%= adrs._id %>" class="select-address" required>
                    </div>
                    <p><strong>Address Type:</strong> <%= adrs.addressType %></p>
                    <p><strong>Name:</strong> <%= adrs.name %></p>
                    <p><strong>Location:</strong> <%= adrs.city %>, <%= adrs.state %>, <%= adrs.country %></p>

                    <!-- Hidden Details Section -->
                    <div class="hidden-details" style="display: none;">
                      <p><strong>House No., Building Name:</strong> <%= adrs.houseName %></p>
                      <p><strong>Landmark:</strong> <%= adrs.landmark %></p>
                      <p><strong>PIN Code:</strong> <%= adrs.pinCode %></p>
                      <p><strong>Phone:</strong> <%= adrs.phone %></p>
                      <% if (adrs.alternatePhone) { %>
                      <p><strong>Alternate Phone:</strong> <%= adrs.alternatePhone %></p>
                      <% } %>
                      <button type="button" class="btn btn-sm btn-secondary edit-address-btn" data-address-id="<%= adrs._id %>" data-name="<%= adrs.name %>" data-address-type="<%= adrs.addressType %>" data-house-name="<%= adrs.houseName %>" data-city="<%= adrs.city %>" data-state="<%= adrs.state %>" data-country="<%= adrs.country %>" data-pin-code="<%= adrs.pinCode %>" data-phone="<%= adrs.phone %>" data-alternate-phone="<%= adrs.alternatePhone %>" data-landmark="<%= adrs.landmark %>">
                        Edit Address
                      </button>
                      <button class="btn btn-sm btn-danger delete-address-btn" data-address-id="<%= adrs._id %>">
                        Delete Address
                      </button>
                    </div>

                    <button type="button" class="btn btn-sm btn-secondary toggle-details" style="float: right;">
                      Show More <i class='bx bxs-chevron-down'></i>
                    </button>
                  </div>
                </div>
                <% }); %>

                <!-- Order Details Input -->
                <div class="mb-3">
                  <label for="orderDetails" class="form-label">Additional Order Details</label>
                  <textarea class="form-control" id="orderDetails" name="orderDetails" rows="3" placeholder="Enter any specific instructions..."></textarea>
                </div>

                <!-- Payment Method Selection -->
                <div class="container">
                  <div class="row">
                    <!-- Left Column for Payment Methods -->
                    <div class="col-md-8">
                      <div class="checkout__payment">
                        <h5 class="mb-2">Select Preffered Payment Method</h5>

                        <div class="checkout__input__checkbox">
                          <label for="wallet">
                            <input type="radio" name="paymentMethod" id="wallet" value="wallet">
                            CellNext Wallet
                            <span class="checkmark"></span>
                          </label>
                        </div>

                        <div class="checkout__input__checkbox">
                          <label for="razorpay">
                            <input type="radio" name="paymentMethod" id="razorpay" value="razorpay">
                            Razorpay
                            <span class="checkmark"></span>
                          </label>
                        </div>

                        <div class="checkout__input__checkbox">
                          <label for="cod">
                            <input type="radio" name="paymentMethod" id="cod" value="COD">
                            Cash on Delivery (COD)
                            <span class="checkmark"></span>
                          </label>
                        </div>
                      </div>
                    </div>

                    <!-- Right Column for Place Order Button -->
                    <div class="col-md-4 d-flex justify-content-center align-items-center">
                      <div class="text-center">
                        <button type="button " class="btn btn-dark place-order-btn">Place Order</button>
                      </div>
                    </div>
                  </div>
                </div>
                <% } else { %>
                <div class="alert alert-warning text-center" role="alert">
                  Address not available.
                </div>
                <% } %>
              </form>

            </div>
          </div>
        </div>

        <!-- Modal HTML -->
        <div class="modal fade" id="address-modal" tabindex="-1" role="dialog" aria-labelledby="addressModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addressModalLabel">Edit Address</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form id="address-modal-form">
                  <!-- Hidden Input to store Address ID -->
                  <input type="hidden" name="addressId">

                  <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" required>
                  </div>

                  <div class="mb-3">
                    <label class="form-label">Address Type</label>
                    <input type="text" id="addressType" name="addressType" class="form-control" list="addressTypeOptions" onblur="this.value = this.value.toLowerCase().split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ')">

                    <datalist id="addressTypeOptions">
                      <option value="Home"></option>
                      <option value="Office"></option>
                    </datalist>
                  </div>

                  <div class="mb-3">
                    <label for="houseName" class="form-label">House No., Building Name</label>
                    <input type="text" class="form-control" name="houseName" required>
                  </div>

                  <div class="mb-3">
                    <label for="landmark" class="form-label">Landmark</label>
                    <input type="text" class="form-control" name="landmark" required>
                  </div>

                  <div class="mb-3">
                    <label for="city" class="form-label">City</label>
                    <input type="text" class="form-control" name="city" required>
                  </div>

                  <div class="mb-3">
                    <label for="state" class="form-label">State</label>
                    <input type="text" class="form-control" name="state" required>
                  </div>

                  <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" class="form-control" name="country" required>
                  </div>

                  <div class="mb-3">
                    <label for="pinCode" class="form-label">PIN Code</label>
                    <input type="text" class="form-control" name="pinCode" required>
                  </div>

                  <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="text" class="form-control" name="phone" required>
                  </div>

                  <div class="mb-3">
                    <label for="alternatePhone" class="form-label">Alternate Phone</label>
                    <input type="text" class="form-control" name="alternatePhone">
                  </div>

                  <button id="save-address-btn" type="submit" class="btn btn-primary">Save Changes</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- </div> -->
        <div class="col-lg-4 col-md-6">
          <div class="checkout__order">
            <h4 class="order__title">Your Cart</h4>
            <div class="checkout__order__products">Items</div>
            <ul class="checkout__order__list">
              <% cartItems.forEach((item, index) => { %>
              <li class="checkout__order__item">
                <div class="checkout__order__info">
                  <div class="checkout__order__item-name">
                    <%= String(index + 1).padStart(2, '0') %> :
                    <%= item.name.length > 30 ? item.name.slice(0, 30) + '...' : item.name %>
                  </div>
                </div>
                <div class="checkout__order__details">
                  <div class="checkout__order__quantity-price">
                    <span class="checkout__order__price">₹ <%= item.price.toLocaleString('en-IN', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %></span>
                    <span class="checkout__order__quantity">X Qty <%= item.quantity %></span>
                  </div>
                  <div class="checkout__order__total-price">
                    <span>
                      ₹ <%= item.total.toLocaleString('en-IN', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %>
                    </span>
                  </div>
                </div>
              </li>
              <% }); %>
            </ul>

            <ul class="checkout__total__all">
              <li>Subtotal <span>₹ <%= subtotal.toLocaleString('en-IN', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %></span></li>
              <% if (couponDiscount > 0) { %>
              <li>Coupon Discount <span class="coupon-discount">₹ <%= couponDiscount.toLocaleString('en-IN', { minimumFractionDigits: 1, maximumFractionDigits: 2 }) %></span></li>
              <% } %>
              <li>Delivery Charge
                <% if (deliveryCharge === 0) { %>
                <span class="delivery-charge"><s class="gray-text">₹ 79</s> 0.0</span>
                <% } else { %>
                <span class="delivery-charge">₹ <%= deliveryCharge.toFixed(1) %></span>
                <% } %>
              </li>
              <li>Total <span id="checkout-total-amount">₹ <%= total.toLocaleString('en-IN', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %></span></li>
            </ul>
            <div class="mt-4">
              <% if (deliveryCharge !== 0) { %>
              <span class="special-notes-red">Orders above ₹ 10,000 qualify for free delivery.</span>
              <% } else { %>
              <span class="special-notes-green">Congratulations! Your cart qualifies for free delivery.</span>
              <% } %>
            </div>
          </div>
        </div>
      </div>
      <!-- </form> -->
    </div>
  </div>
  </div>
</section>
</section>
<!-- Checkout Section End -->

<%- include('../../views/partials/user/footer') %>

<script src="/js/checkout.js"></script>
