<%- include('../../views/partials/user/header') %>
<div class="card-body">
  <% if (messages && messages.error) { %>
  <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
    <strong></strong> <%= messages.error %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% } %>
  <% if (messages && messages.success) { %>
  <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
    <strong></strong> <%= messages.success %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% } %>
</div>
<!-- Hero Section Begin -->
<section class="hero">
  <div class="hero__slider owl-carousel">
    <% heroData.forEach(function(hero) { %>
    <div class="hero__items" style="background-image: url('<%= hero.backgroundImage %>'); background-size: cover;">
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-7 col-md-8">
            <div class="hero__text">
              <h6><%= hero.collection %></h6>
              <h2><%= hero.title %></h2>
              <p><%= hero.description %></p>
              <a href="<%= hero.link %>" class="primary-btn">Shop now <span class="arrow_right"></span></a>
              <div class="hero__social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</section>

<!-- Hero Section End -->

<!-- Banner Section Begin -->
<section class="banner spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 offset-lg-4">
        <div class="banner__item">
          <div class="banner__item__pic">
            <img src="img/banner/new arrivals poster 1.png" alt="">
          </div>
          <div class="banner__item__text">
            <h2>New Arrivals 2025</h2>
            <a href="/sort?sortBy=newest">Shop now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="banner__item banner__item--middle">
          <div class="banner__item__pic">
            <img src="img/banner/accessories poster 1.JPG" alt="">
          </div>
          <div class="banner__item__text">
            <h2>Accessories</h2>
            <a href="/filter?category=Mobile%20Accessories">Accessories</a>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="banner__item banner__item--last">
          <div class="banner__item__pic">
            <img src="img/banner/watch02.JPG" alt="">
          </div>
          <div class="banner__item__text">
            <h2>Wearables 2025</h2>
            <a href="/filter?category=Smart%20watches">Shop now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Banner Section End -->

<!-- Product Section Begin -->
<section class="product spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="filter__controls">
          <li class="active" data-filter=".best-sellers">New Arrivals</li>
          <!-- <li data-filter=".new-arrivals">New Arrivals</li>
          <li data-filter=".hot-sales">Hot Sales</li> -->
        </ul>
      </div>
    </div>
    <div class="row product__filter">
      <% products.slice(0, 4).forEach(function(product) { %>
      <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 new-arrivals">
        <div class="product__item <%= product.onSale ? 'sale' : '' %>">
          <% /* eslint-disable */ %>
          <div onclick="redirectToProduct('<%= product._id %>')" class="product__item__pic" style="background-image: url('<%= product.variants[0] && product.variants[0].images[0] ? product.variants[0].images[0] : 'img/no-image.png' %>');">
            <% /* eslint-enable */ %>
            <span class="label"><%= product.productOffer > 5 ? 'Sale' : '' %></span>
            <ul class="product__hover">
              <li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
              <li><a href="#"><img src="img/icon/compare.png" alt=""> <span>Compare</span></a></li>
              <li><a href="#"><img src="img/icon/search.png" alt=""></a></li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6><%= product.productName %></h6>
            <% if (product.variants[0].stock <= 0) { %>
            <a class="text-danger font-weight-bold">Out of Stock</a>
            <% } else { %>
            <a href="#" class="add-cart">+ Add To Cart</a>
            <% } %>
            <div class="rating">
              <% for(let j = 0; j < product.rating; j++) { %>
              <i class="fa fa-star"></i>
              <% } %>
              <% for(let j = product.rating; j < 5; j++) { %>
              <i class="fa fa-star-o"></i>
              <% } %>
            </div>
            <h5>
              ₹ <%= new Intl.NumberFormat('en-IN', { style: 'currency', currency: 'INR' }).format(product.variants[0].salePrice).replace('₹', '').trim() %>
            </h5>
            <h6><span class="text-muted" style="text-decoration: line-through; font-size: 0.9em;">
                ₹ <%= new Intl.NumberFormat('en-IN', { style: 'currency', currency: 'INR' }).format(product.variants[0].regularPrice).replace('₹', '').trim() %>
              </span></h6>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
</section>
<!-- Product Section End -->


<script>
  function redirectToProduct(productId) {
    window.location.href = `/productDetails?id=${productId}`;
  }
</script>

<%- include('../../views/partials/user/footer') %>