<%- include('../../views/partials/user/header') %>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__text">
          <h4>Shop</h4>
          <div class="breadcrumb__links">
            <a href="/">Home</a>
            <span>Shop</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shop Section Begin -->
<section class="shop spad">
  <div class="container">
    <div class="row">
      <%- include('../../views/partials/user/shop-sidebar') %>

      <div class="col-lg-9">
        <div class="shop__product__option">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="shop__product__option__left">
                <p>
                  Showing
                  <%= totalProducts === 0 
                      ? 0 
                      : (currentPage - 1) * 9 + 1 %>–
                  <%= Math.min(currentPage * 9, totalProducts) %> of
                  <%= totalProducts %> results
                </p>
              </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="shop__product__option__right">
                <p>Sort by Price:</p>
                <select>
                  <option value="">Low To High</option>
                  <option value="">$0 - $55</option>
                  <option value="">$55 - $100</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <% if (products.length === 0) { %>
          <div class="col-12">
            <p class="text-center text-warning">No results found</p>
          </div>
          <% } else { %>
          <% for (let i = 0; i < products.length; i++) { %>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="product__item <%= products[i].productOffer < products[i].variantRegularPrice ? '' : '' %>">
              <!-- Product Image -->
              <div onclick="redirectToProduct('<%= products[i].variantNumber %>')" class="product__item__pic" style="background-image: url('<%= products[i].variantImages[0] %>');">
                <span class="label">
                  <%= products[i].productOffer > 5 ? 'Sale' : '' %>
                </span>
                <ul class="product__hover">
                  <li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
                  <li><a href="#"><img src="img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                  <li><a href="#"><img src="img/icon/search.png" alt=""></a></li>
                </ul>
              </div>

              <!-- Product Details -->
              <div class="product__item__text">
                <h6><%= products[i].productName %> <span class="text-muted"> |</span> <%= products[i].variantColor %>
                  <% if (products[i].variantSize !== 'NA') { %>
                  <span class="text-muted"> |</span> <%= products[i].variantSize %>
                  <% } %>
                </h6>
                <% if (products[i].variantStock <= 0) { %>
                <a class="text-danger font-weight-bold">Out of Stock</a>
                <% } else { %>
                <a href="#" class="add-cart">+ Add To Cart</a>
                <% } %>

                <!-- Rating -->
                <div class="rating">
                  <% for (let j = 0; j < (products[i].rating || 0); j++) { %>
                  <i class="fa fa-star"></i>
                  <% } %>
                  <% for (let j = (products[i].rating || 0); j < 5; j++) { %>
                  <i class="fa fa-star-o"></i>
                  <% } %>
                </div>

                <!-- Price -->
                <h5>
                  ₹ <%= new Intl.NumberFormat('en-IN', { style: 'currency', currency: 'INR' })
                        .format(products[i].variantSalePrice).replace('₹', '').trim() %>
                </h5>
                <h6>
                  <span class="text-muted" style="text-decoration: line-through; font-size: 0.9em;">
                    ₹ <%= new Intl.NumberFormat('en-IN', { style: 'currency', currency: 'INR' })
                          .format(products[i].variantRegularPrice).replace('₹', '').trim() %>
                  </span>
                </h6>

              </div>
            </div>
          </div>
          <% } %>
          <% } %>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="product__pagination">
              <% for(let i = 1; i <= totalPages; i++) { %>
              <% if(i === currentPage) { %>
              <a class="active" href="#"><%= i %></a>
              <% } else { %>
              <a href="/shop?page=<%= i %>"><%= i %></a>
              <% } %>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Shop Section End -->

<!-- Footer Section -->
<%- include('../../views/partials/user/footer') %>

<!-- Search Begin -->
<div class="search-model">
  <div class="h-100 d-flex align-items-center justify-content-center">
    <div class="search-close-switch">+</div>
    <form class="search-model-form">
      <input type="text" id="search-input" placeholder="Search here.....">
    </form>
  </div>
</div>
<!-- Search End -->

<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery.nicescroll.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>
<script>
  function redirectToProduct(productId) {
    window.location.href = `/productDetails?id=${productId}`;
  }
</script>

</body>

</html>