 <!-- Menu -->

 <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
   <div class="app-brand demo">
     <a href="/admin/" class="app-brand-link">
       <span class="app-brand-logo demo">
         <img src="/img/favicon_CellNext.png" alt="logo" style="width: 80px; height: auto;">

       </span>
       <div class="d-flex">
         <span class="demo menu-text fw-bolder ms-2 fs-4 ">CellNext</span>
       </div>
     </a>

     <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
       <i class="bx bx-chevron-left bx-sm align-middle"></i>
     </a>
   </div>

   <div class="menu-inner-shadow"></div>

   <ul class="menu-inner py-1">

     <!-- Dashboard -->
     <li class="menu-item <%= ['/admin/'].includes(currentPath) || ['/admin/dashboard', '/admin/sales-report'].some(path => currentPath.startsWith(path)) ? 'active open' : '' %>">
       <a href="/admin/" class="menu-link menu-toggle">
         <i class="menu-icon tf-icons bx bx-home-circle"></i>
         <div data-i18n="Layouts">Dashboard</div>
       </a>
       <ul class="menu-sub">
         <li class="menu-item <%= ['/admin/dashboard'].some(path => currentPath.startsWith(path)) ? 'active' : '' %>">
           <a href="/admin/dashboard" class="menu-link">
             <div data-i18n="Without menu">Dashboard</div>
           </a>
         </li>
       </ul>
       <ul class="menu-sub">
         <li class="menu-item <%=['/admin/sales-report'].some(path => currentPath.startsWith(path)) ? 'active' : '' %>">
           <a href="/admin/sales-report" class="menu-link">
             <div data-i18n="Without menu">View Sales Report</div>
           </a>
         </li>
       </ul>
     </li>

     <!-- Customers -->
     <li class="menu-item <%= currentPath.startsWith('/admin/users') ? 'active open' : '' %>">
       <a href="/admin/users" class="menu-link menu-toggle">
         <i class="menu-icon tf-icons bx bxs-contact"></i>
         <div data-i18n="Layouts">Customers</div>
       </a>
       <ul class="menu-sub">
         <li class="menu-item <%= currentPath === '/admin/users' ? 'active' : '' %>">
           <a href="/admin/users" class="menu-link">
             <div data-i18n="Without menu">View Customers</div>
           </a>
         </li>
       </ul>
     </li>

     <!-- Categories -->
     <li class="menu-item <%= currentPath.startsWith('/admin/category') ? 'active open' : '' %>">
       <a href="/admin/category" class="menu-link menu-toggle">
         <i class="menu-icon tf-icons bx bx-category"></i>
         <div data-i18n="Layouts">Categories</div>
       </a>
       <ul class="menu-sub">
         <li class="menu-item <%= currentPath === '/admin/category#view-category-section' ? 'active' : '' %>">
           <a href="/admin/category#view-category-section" class="menu-link">
             <div data-i18n="Without menu">View Categories</div>
           </a>
         </li>
         <li class="menu-item <%= currentPath === '/admin/category' ? 'active' : '' %>">
           <a href="/admin/category" class="menu-link">
             <div data-i18n="Without navbar">Create New Category</div>
           </a>
         </li>
       </ul>
     </li>

     <!-- Products -->
     <li class="menu-item <%= currentPath.startsWith('/admin/products') || currentPath.startsWith('/admin/addProduct') || currentPath.startsWith('/admin/variants') ? 'active open' : '' %>"> <a href="/admin/products" class="menu-link menu-toggle">
         <i class="menu-icon tf-icons bx bx-cart"></i>
         <div data-i18n="Layouts">Products</div>
       </a>
       <ul class="menu-sub">
         <li class="menu-item <%= currentPath === '/admin/products' ? 'active' : '' %>">
           <a href="/admin/products" class="menu-link">
             <div data-i18n="Without menu">View Products</div>
           </a>
         </li>
         <li class="menu-item <%= currentPath === '/admin/addProduct' ? 'active' : '' %>">
           <a href="/admin/addProduct" class="menu-link">
             <div data-i18n="Without navbar">Add New Product</div>
           </a>
         </li>
         <li class="menu-item <%= currentPath === '/admin/variants' ? 'active' : '' %>">
           <a href="/admin/variants" class="menu-link">
             <div data-i18n="Without navbar">View & Update Variants</div>
           </a>
         </li>
       </ul>
     </li>

     <!-- Brands -->
     <li class="menu-item <%= currentPath.startsWith('/admin/brands') || currentPath.startsWith('/admin/addBrand') ? 'active open' : '' %>"> <a href="/admin/brands" class="menu-link menu-toggle">
         <i class="menu-icon tf-icons bx bx-rectangle"></i>
         <div data-i18n="Layouts">Brands</div>
       </a>
       <ul class="menu-sub">
         <li class="menu-item <%= currentPath === '/admin/products' ? 'active' : '' %>">
           <a href="/admin/brands" class="menu-link">
             <div data-i18n="Without menu">View Brands</div>
           </a>
         </li>
         <li class="menu-item <%= currentPath === '/admin/addProduct' ? 'active' : '' %>">
           <a href="/admin/addBrand" class="menu-link">
             <div data-i18n="Without navbar">Add New Brand</div>
           </a>
         </li>
       </ul>
     </li>

     <!-- Orders -->
     <li class="menu-item <%= currentPath.startsWith('/admin/orders') || currentPath.startsWith('/admin/view-order') ? 'active open' : '' %>"> <a href="/admin/orders" class="menu-link menu-toggle">
         <i class="menu-icon tf-icons bx bx-cart-alt"></i>
         <div data-i18n="Layouts">Orders</div>
       </a>
       <ul class="menu-sub">
         <li class="menu-item <%= currentPath === '/admin/orders' ? 'active' : '' %>">
           <a href="/admin/orders" class="menu-link">
             <div data-i18n="Without menu">View Orders</div>
           </a>
         </li>
         <li class="menu-item <%= currentPath.startsWith('/admin/orders/order-details') ? 'active' : '' %>">
           <a href="/admin/orders" class="menu-link">
             <div data-i18n="Without navbar">Edit Order</div>
           </a>
         </li>
       </ul>
     </li>


     <!-- Coupons -->
     <li class="menu-item <%= currentPath.startsWith('/admin/coupons')  ? 'active open' : '' %>"> <a href="/admin/orders" class="menu-link menu-toggle">
         <i class="menu-icon tf-icons bx bxs-coupon"></i>
         <div data-i18n="Layouts">Coupons</div>
       </a>
       <ul class="menu-sub">
         <li class="menu-item <%= currentPath === '/admin/coupons/view-coupons' ? 'active' : '' %>">
           <a href="/admin/coupons/view-coupons" class="menu-link">
             <div data-i18n="Without menu">View Coupons</div>
           </a>
         </li>
         <li class="menu-item <%= currentPath === '/admin/coupons/add-coupon' ? 'active' : '' %>">
           <a href="/admin/coupons/add-coupon" class="menu-link">
             <div data-i18n="Without navbar">Add New Coupon</div>
           </a>
         </li>
       </ul>
     </li>
   </ul>
 </aside>
 <!-- / Menu -->